<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<ul>
    {{#customers}}
        <li>{{firstname}}</li>
    {{/customers}}
</ul>
</body>
</html>